/* Style when info about keybindings is displayed */

.jemoji-info div {
  float: left;

  margin-right: 15px;
}

.jemoji-info .jemoji-close {
  float: right;

  margin-right: 0;

  cursor: pointer;
}

.jemoji-icons > div {
  font-size: 15px;

  float: left;

  margin: 0 3px 5px;
  padding: 5px;

  cursor: pointer;

  color: #a0a0a0;
}

.jemoji-icons > div:hover,
.jemoji-icons > div:focus,
.jemoji-icons > div:active,
.jemoji-icons > div.active {
  color: #fff;
  border-radius: 5px;
  background-color: #439fe0;
}

.jemoji-icons > div > img {
  float: left;

  width: 20px;
  margin-right: 5px;
}

.jemoji-icons > span {
  float: left;
}

/* Themes */

.jemoji-menu.blue .jemoji-icons > div:hover,
.jemoji-menu.blue .jemoji-icons > div:focus,
.jemoji-menu.blue .jemoji-icons > div:active,
.jemoji-menu.blue .jemoji-icons > div.active {
  background-color: #4688bd;
}

.jemoji-menu.green .jemoji-icons > div:hover,
.jemoji-menu.green .jemoji-icons > div:focus,
.jemoji-menu.green .jemoji-icons > div:active,
.jemoji-menu.green .jemoji-icons > div.active {
  background-color: #63b546;
}

.jemoji-menu.red .jemoji-icons > div:hover,
.jemoji-menu.red .jemoji-icons > div:focus,
.jemoji-menu.red .jemoji-icons > div:active,
.jemoji-menu.red .jemoji-icons > div.active {
  background-color: #d44a4a;
}

.jemoji-menu.black .jemoji-icons > div:hover,
.jemoji-menu.black .jemoji-icons > div:focus,
.jemoji-menu.black .jemoji-icons > div:active,
.jemoji-menu.black .jemoji-icons > div.active {
  background-color: #4e4e4e;
}

